.main-container {
    width: 100vw !important;
    height: 100vh !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    position: relative;
}

.homepage-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: fill;
    z-index: -1,
}

.card-details {
    background-color: var(--imp-background-color) !important;
    border-radius: 2em !important;
    backdrop-filter: blur(15px) !important;
    border: 2px solid rgba(255, 255, 255, 0.05) !important;
    background-clip: padding-box;
    box-shadow: 1px 1px 1px 1px #c770f0;
    align-content: center;
    color: white;
}

.centered-animate {
    display: flex;
    justify-content: center;
    align-items: center;
}

.line-divider {
    width: 50%;
    height: 1px;
    background-color: #BCBDC0;
    margin: 10px 0;
}