/* Common CSS - used across all the component! */

:root {
    --imp-text-color: white;
    --imp-icon-color: #c770f0;
    --imp-background-color: black;
    --imp-divider-color: rgb(24, 24, 27);
    --imp-border-color: rgba(255, 255, 255, 0.05);
    --imp-translucent-color: rgba(0, 0, 0, 0.175);
}

.theme-menu {
    background-color: var(--imp-background-color) !important;
    color: var(--imp-text-color) !important;
}

.theme-menu-item-neon-purple {
    background-color: var(--imp-background-color) !important;
    color: #c770f0 !important;
}

.theme-menu-item-neon-pink {
    background-color: var(--imp-background-color) !important;
    color: #F535AA !important;
}

.font-css {
    color: var(--imp-text-color) !important;
}

.icon-color {
    color: var(--imp-icon-color) !important;
    size: 20;
}


.main-background {
    background-color: var(--imp-background-color);
    background-size: cover;
    background-position: center;
    width: 100vw !important;
    height: 105vh !important;
    overflow: scroll;
}

.max-dimension {
    width: 100%;
    height: 100%;
}

.transition-enter {
    opacity: 0;
    transform: translateX(-100%);
}

.transition-enter-active {
    opacity: 1;
    transform: translateX(0);
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
    transition-duration: 2s;
}

.transition-enter-done {
    opacity: 1;
    transform: translateX(0);
}

.transition-exit {
    opacity: 1;
    transform: translateX(0);
}

.transition-exit-active {
    opacity: 0;
    transform: translateX(-100%);
    transition: opacity 0.5s ease-in, transform 0.5s ease-in;
}

.card-dark-background {
    background-color: var(--imp-background-color) !important;
}

.about-details {
    align-content: center;
    padding-left: 84px;
}

.skills-container {
    display: grid;
    overflow: hidden;
    margin: 0;
    list-style: none;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 15px;
    padding: 10px;
    border-radius: 50px;
}

.line-divider {
    width: 25%;
    height: 1px;
    background-color: var(--imp-divider-color);
    margin: 10px 0;
}

.main-container {
    width: 100vw !important;
    height: 100vh !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    position: relative;
}

.homepage-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: fill;
    z-index: -1,
}

.centered-animate {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-details {
    background-color: var(--imp-background-color) !important;
    border-radius: 2em !important;
    backdrop-filter: blur(15px) !important;
    border: 2px solid var(--imp-translucent-color) !important;
    background-clip: padding-box;
    align-content: center;
    color: var(--imp-text-color);
    background: radial-gradient(var(--imp-background-color), var(--imp-background-color)) padding-box, linear-gradient(var(--angle),
            var(--imp-background-color),
            var(--imp-icon-color)) border-box !important;
    animation: 4s rotate linear infinite !important;
}

@keyframes rotate {
    to {
        --angle: 360deg;
    }
}

@property --angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}