.main-background {
    background-color: black;
    background-size: cover;
    background-position: center;
    width: 100vw !important;
    height: 105vh !important;
    overflow: scroll;
}

.max-dimension {
    width: 100%;
    height: 100%;
}

.transition-enter {
    opacity: 0;
    transform: translateX(-100%);
}

.transition-enter-active {
    opacity: 1;
    transform: translateX(0);
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

.transition-enter-done {
    opacity: 1;
    transform: translateX(0);
}

.transition-exit {
    opacity: 1;
    transform: translateX(0);
}

.transition-exit-active {
    opacity: 0;
    transform: translateX(-100%);
    transition: opacity 0.5s ease-in, transform 0.5s ease-in;
}

.card-dark-background {
    background-color: black !important;
}

.card-light-background {
    background-color: #f5f5f5 !important;
}

.about-details {
    align-content: center;
    padding-left: 84px;
}

.skills-container {
    display: grid;
    overflow: hidden;
    margin: 0;
    list-style: none;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 15px;
    padding: 10px;
    border-radius: 50px;
}

.line-divider {
    width: 25%;
    height: 1px;
    background-color: rgb(24, 24, 27);
    margin: 10px 0;
}

.main-container {
    width: 100vw !important;
    height: 100vh !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    position: relative;
}

.homepage-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: fill;
    z-index: -1,
}

.card-details {
    background-color: var(--imp-background-color) !important;
    border-radius: 2em !important;
    backdrop-filter: blur(15px) !important;
    border: 2px solid rgba(255, 255, 255, 0.05) !important;
    background-clip: padding-box;
    box-shadow: 1px 1px 1px 1px #c770f0;
    align-content: center;
    color: white;
}

.centered-animate {
    display: flex;
    justify-content: center;
    align-items: center;
}